@model agenciaDeViajesV2.Models.RoleClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoleClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.states)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.states)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PK_rol">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
