@model IEnumerable<agenciaDeViajesV2.Models.OfferClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destiny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.states)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destiny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.states)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.PK_room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.actName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PK_offer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PK_offer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PK_offer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
